<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestFireFox">
  <parameter name="browser" value="firefox"/>
  <parameter name="user" value="admin"/>
  <parameter name="appUrl" value="http://localhost:4444/wd/hub"/>
    <classes>
      <class name="Grid2.Demo1"/>
    </classes>
  </test>
  <test name="TestChrome">
  <parameter name="browser" value="chrome"/>
  <parameter name="user" value="admin"/>
  <parameter name="appUrl" value="http://localhost:4444/wd/hub"/>
    <classes>
      <class name="Grid2.Demo1"/>
    </classes>
  </test>
 </suite> 
